html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(#FFEB3B, #F57F17);
}
/*#B3E5FC*/

@font-face{
    font-family: ProductSans;
    src: url("fonts/productsans.ttf");
  }
  
  .product {
    font-family: "ProductSans";
    font-weight: 100;
  }
  
  @font-face{
    font-family: ProductSansBold;
    src: url("fonts/productsans_bold.ttf");
  }
  
  .productbold {
    font-family: "ProductSansBold";
  }

table{
    text-align: center;
    width: 100%;
    height: 100%;
}

td{
    vertical-align: middle;
}

.heading{
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

/*#1E265C*/

.caption{
    margin-top: 5px;
    color: #fff;
}

.subscribeform{
    margin-top: 10px;
}

.emailinput{
    height: 40px;
    font-family: 'ProductSans';
    width: 300px;
    border: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 10px 0 0 10px;
}

.subscribebutton{
    border: none;
    margin-left: -5px;
    height: 42px;
    line-height: 40px;
    border-radius: 0 10px 10px 0;
    padding-left: 30px;
    color: #fff;
    font-size: 16px;
    background-color: #000;
    padding-right: 30px;
}
/*#1e265C*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/*1E265C */