<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <title>Taskout</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="product">
        <table cellspacing="0" cellpadding="0">
            <tr><td>
                <img src="images/error.svg" height="200"/><br>
                <div class="heading productbold">woopsie.</div>  
                <div class="caption product">An error occured. Redirecting you to home.</div>
            </td></tr>
        </table>
        <script>
            window.onload(){
                window.setTimeout(function(){
                    location.assign(window.location.hostname);
                }, 3000);
            }
        </script>
    </body>
</html>