<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <title>Taskout</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="product">
        <table cellspacing="0" cellpadding="0">
            <tr><td>
                <img src="images/vueorange.svg" height="200"/><br>
                <div class="heading productbold">Releasing soon.</div>  
                <div class="caption product">Drop your email, and we'll task you out when we're ready.</div>
                <div class="subscribeform">
                    <form action="/subscribed" method="POST">
                        <input type="email" name="email" class="emailinput" required>
                        <input type="submit" value="Subscribe" class="subscribebutton">
                    </form>
                </div>
            </td></tr>
        </table>
    </body>
</html>