<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <title>Taskout</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="product">
        <table cellspacing="0" cellpadding="0">
            <tr><td>
                <img src="images/subscriber.svg" height="200"/><br>
                <div class="heading productbold">Welcome to the team.</div>  
                <div class="caption product">Spread the word by telling your friends about taskout.</div>
            </td></tr>
        </table>
    </body>
</html>